# GLOBAL
DEBUG=True
ALLOWED_ORIGINS=http://localhost, http://127.0.0.1, http://localhost:8000, http://127.0.0.1:8000, http://localhost:3000, http://127.0.0.1:3000

# DATA BASE
POSTGRES_DB=botsad
POSTGRES_USER=botsad
POSTGRES_PASSWORD=botsad
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# HASH
HASH_KEY=asdlajsdasASDASD
HASH_ALGORITHM=HS256

# COMMON
BACK_DOMAIN=http://localhost
FRONT_DOMAIN=http://localhost:3000
KINZA_SITE=https://kinza-agency.ru/